.form-container{
    border-radius: 10px;
    /* box-shadow: 0 0 5px 0 grey; */
    
}
.form-section{
    box-shadow: 0 0 5px 0 grey;
    background-image: url(../../public/images/background-10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}