.header-section{
    margin-top: 53px;
   }
   .header-container {
    position: relative; /* To position the pseudo-element */
    height: 70vh;
    background-color: lightblue; /* Fallback color */
    overflow: hidden; /* To ensure pseudo-element stays within the container */
}

.header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(67, 61, 139, 0.5), 
    rgba(67, 61, 139, 0.5)), 
                url('../images/hero-background.jpg'); */

    background: linear-gradient(rgba(67, 61, 139, 0.5), 
    rgba(67, 61, 139, 0.5)), 
                url('../../public/images/hero-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust this value for overall transparency */
    z-index: 1; /* Place it behind content */
}


.header-container .content {
    position: relative;
    z-index: 2; /* Bring content above the pseudo-element */
    color: black; /* Adjust text color as needed */
    text-align: center;
    padding-top: 20px;
    height: 70vh;
}
.content .get-started-div{
    width:150px;
    height:50px;
}
.content .get-started-btn{
    width: 100%;
    height:100%;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    color:#fff;
}
.content .content-heading{
    margin-top:150px;
    color:#fff;
}
.content .content-para{
    margin-top:30px;
    color:#fff;
}
.content .get-started-div{
    margin-top:30px;
}