.team-section {
    margin-top: 50px;
    height:80vh;
    box-shadow: 0 0 5px 0 grey;
}

.team-row {
    height: auto; 
}

.chartContainer {
    height: auto; 
    margin-top: 20px; 
}

@media (max-width: 768px) {
    .team-section {
        padding: 20px; 
    }

    .team-row {
        flex-direction: column; 
        align-items: center; 
    }

    .team-col {
        margin-bottom: 20px; 
    }
}
