*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar-section{
    border: 1px dashed red;
    background-color: lightblue;
    
}
.navbar-container{
    border: 1px dashed black;
    background-color: lightblue;   
}
.navbar{
    background-color: lightblue;
}
.navbar-row{
    border: 1px dashed red;
    background-color: lightblue;
}
.navbar-brand, .nav-link{
    color:#000 !important;
}