@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shakeX {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-1px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-1px); }
  }
  
  .shake-x {
    animation: shakeX 0.5s ease-in-out infinite;
  }
  
  
  
  

